<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.board.model.dao.BoardDao">
	<select id="BoardList"
		resultType="com.example.test.board.model.vo.BoardVO">
		SELECT BNO, BTITLE, BCONTENT, BWRITER, BFILE, BCREATEDATE,
		VIEWCNT, BSTATUS
		FROM BOARD
		WHERE BSTATUS = 'Y'
	</select>
</mapper>